:root {
  --primary-color: #1899d5;
  --secondary-color: #e5e5e5;
  --accent-color: #e74c3c; /* Vermelho de destaque */
  --background-color: #ecf0f1; /* Cor de fundo */
  --text-color: #2c3e50; /* Cor do texto */
  --header-color: #1abc9c; /* Cor do cabeçalho */
  --footer-color: #34495e; /* Cor do rodapé */
  --green-growth: #53c052;
}

html {
  font-family: url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
}

body {
  font-family: Arial, sans-serif;
}

header {
  width: 100%;
}

.img-growth {
  margin-right: 5.625rem;
}

.navbar {
  background-color: var(--primary-color);
}

.arrow-voltar {
  font-size: 2.5rem;
  margin-left: 1.875rem;
}