:root {
  --primary-color: #1899d5;
  --secondary-color: #e5e5e5;
  --accent-color: #e74c3c; /* Vermelho de destaque */
  --background-color: #ecf0f1; /* Cor de fundo */
  --text-color: #2c3e50; /* Cor do texto */
  --header-color: #1abc9c; /* Cor do cabeçalho */
  --footer-color: #34495e; /* Cor do rodapé */
}

body {
  font-family: Arial, sans-serif;
}

header {
  width: 100%;
}

.navbar {
  background-color: var(--primary-color);
}

.navbar img {
  height: 50px; /* Ajuste a altura da imagem conforme necessário */
}

.footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Garante que o footer fique acima de outros elementos */
}
