:root {
  --primary-color: #1899d5;
  --secondary-color: #e5e5e5;
  --accent-color: #e74c3c; /* Vermelho de destaque */
  --background-color: #ecf0f1; /* Cor de fundo */
  --text-color: #2c3e50; /* Cor do texto */
  --header-color: #1abc9c; /* Cor do cabeçalho */
  --footer-color: #34495e; /* Cor do rodapé */
  --green-growth: #53C052;
}

.top-bar {
  background-color: #000;
  color: var(--primary-color);
  text-align: center;
}

header i {
  font-size: 1.875rem;
}

header i:hover {
  cursor: pointer; /* Mudar o cursor para indicar que é clicável */
  font-size: 2.5rem;
}

.navbar img {
  height: 2.5rem; /* Ajuste a altura da imagem conforme necessário */
}

.menu-list {
  display: none;
}

.menu-list-items a {
  padding: 0.3125rem;
  transition: font-size 0.3s ease;
}

.menu-list-items a:hover {
  font-size: 1.25rem;
}

.img-desktop {
  width: 100%;
  object-fit: cover; /* Ajusta a imagem para cobrir o contêiner */
}

.img-smart {
  display: none;
  object-fit: cover;
}

.e-bit-div {
  margin-top: 6.25rem;
  font-size: 1.25rem;
}

.suplementos-div {
  margin-top: 5.625rem;
}

.suplemento p {
  margin-top: .625rem;
  text-align: center;
}

.suplemento img {
  height: 9.375rem;
}

#carouselSuplementosAutoplaying,
#carouselClientesAutoplaying {
  margin-top: 3.125rem;
  display: none;
}

.section-client {
  margin-top: 6.25rem;
  background: linear-gradient(
    white 6.25rem,
    var(--primary-color) 6.25rem,
    var(--primary-color) 9.375rem,
    var(--primary-color) 9.375rem
  );
}

.section-client h3 {
  font-size: 1.875rem;
  padding: 3.125rem;
}

.stars i {
  color: #fbcc36;
  font-size: 1.875rem;
}

.quote-double {
  font-size: 3.75rem;
  color: lightgray;
}

.invert-icon {
  transform: scaleX(-1);
}

.transporte-div {
  width: 75%;
  margin-top: 12.5rem;
}

.transporte-div img {
  height: 9.375rem;
}

.dinheiro-volta-div img {
  height: 10.625rem;
  max-height: 10rem;
}

.frete-gratis-div,
.dinheiro-volta-div {
  padding: 0rem 2.1875rem;
  background: linear-gradient(
    white 1.25rem,
    #53c052 1.25rem,
    #53c052 11.25rem,
    white 1.25rem
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dinheiro-volta-div {
  background: linear-gradient(
    white 1.25rem,
    var(--primary-color) 1.25rem,
    var(--primary-color) 11.25rem,
    white 1.25rem
  );
}

.text-container {
  padding: 3.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-container p {
  margin-top: .625rem;
}


/* cards */

.produtos-div{
  margin-bottom: 6.25rem;
}

.produtos-div button {
  width: 100%;
  background-color: var(--green-growth);
  border: 0;
}

.card-prod {
  border-radius: 1.25rem; /* Adicionado border-radius */
}

.produtos-div img {
  max-height: 12.5rem;
  object-fit: contain;
}

.card-title-prod {
  font-size: 1rem;
  font-weight: bold;
}

.card-text-prod {
  color: #9C9AA0;
  margin: 0;
  padding: 0;
  font-size: .875rem;
}

.price-prod {
  font-size: 2.1875rem;
  color: #53C052;
  font-weight: bold;
}

.produtos-cards {
  justify-content: center;
}

/* cards */

.section-esportes-div img {
  height: 18.75rem;
}

.section-esportes-div h5 {
  margin-bottom: 1.875rem;
  margin-left: 1.25rem;
  font-size: 1.25rem;
}

.footer {
  margin-top: 6.25rem;
  padding: .625rem;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  height: 3.125rem;
  bottom: 0;
  left: 0;
  width: 100%;
  position: relative;
  display: block;
}


@media (max-width: 1300px) {
  .transporte-div {
    display: none;
  }

  .cards-clientes {
    display: none;
  }

  .suplementos-div {
    display: none;
  }

  #carouselSuplementosAutoplaying,
  #carouselClientesAutoplaying {
    display: block;
  }

  #carouselSuplementosAutoplaying,
  #carouselClientesAutoplaying img {
    display: block;
    margin: auto;
    height: 9.375rem;
  }

 .section-client {
  height: 56.25rem;
 }
  .section-esportes-div {
    display: none;
  }
}

@media (max-width: 1024px) {
  .menu-list {
    display: flex;
  }

  .user-menu {
    display: none;
  }

  .img-desktop {
    display: none;
  }

  .img-smart {
    display: flex;
    width: 100%;
  }

  .e-bit-div {
    font-size: 1.125rem;
  }

  .carousel-clientes {
    margin-bottom: 6.25rem;
  }
}

@media (max-width: 767px) {
  .produtos-cards {
    justify-content: start;
  }
}

@media (max-width: 576px) {
  .e-bit-div {
    font-size: 0.875rem;
  }
}

@media (max-width: 576px) {
  .section-client {
    height: 68.75rem;
  }
}

